extends views/layout


block content
  article.content
    header.heading
      .title
        | Assessorament i Defensa
        br
        | en Dret Civil i Dret Sanitari
      .contact-box
        .description Explique’ns el teu cas o truque’ns
        .inner
          a.item( href='mailto:gtgabogados@icab.cat' title='Email')
            i.material-icons.icon email
            span gtgabogados@icab.cat
          a.item( href='tel:934558181' title='Telèfon')
            i.material-icons.icon phone
            span (93) 455 81 81

    h3 Els nostres Serveis
    section.ambits
      .ambit
        .title
          span Àmbit
          | Familiar
          .line(style='background:#FF5900;')

        ul
          li Divorcis, separacions i relacions de parella:  pensions, custòdies, aliments, dissolució patrimoni comú, etc.
          li Herències: assessorament en la preparació de testament, tràmits d’acceptació d’herències, de declaració d’hereus i reclamacions d’herències.
          li Documents de voluntats anticipades: assessorament i redacció del testament vital.
          li Incapacitacions: procediment judicial d’incapacitació, rendició comptes, assessorament en sistemes alternatius.

      .ambit
        .title
          span Àmbit
          | Propietat
          .line(style='background:#FFD43D;')

        ul
          li Arrendaments urbans: estudi i elaboració de contractes, lloguers, procediment de desnonament i reclamació de lloguers, etc.
          li Compravendes: assessorament i acompanyament en tots els tràmits (pisos, pàrquings, locals de negoci, etc.)
          li Comunitats de propietaris: assessorament sobre acords comunitaris (obres, deutes, etc.) , obligacions, conflictes veïnals, impugnació d’acords, etc.

      .ambit
        .title
          span Àmbit
          | Petita empresa
          .line(style='background:#0084FF;')

        ul
          li Contractes de societat: societat civil, professional, contracte d’ arrendament de serveis professionals, contracte d’autònom dependent, etc.
          li Reclamacions de deutes: vies amistoses i judicials (procediments monitori, verbal o ordinari)
          li Seguretat Social: contractes personal laboral, alta com empresari, confecció de nòmines, i liquidacions-cotitzacions seguretat social.
          li Fiscal: confecció i presentació de declaracions fiscals, declaració anual renda i tràmits generals.

      .ambit
        .title
          span Àmbit
          | General
          .line(style='background:#93D649;')

        ul
          li Mediació en conflictes en l’àmbit civil
          li Accidents de circulació: reclamació danys i defensa.
          li Incapacitat laboral: total, absoluta, etc.
          li Assistència en comissaria.
