- var email = 'gtgabogados@icab.cat'
- var phone = '(93) 455 81 81'

footer
  .inner
    .block
      .title GTG Advocats, SCP

    .block
      .title Ens trobaràs a
      .text(style='line-height:24px;')
        | C/ Cartagena 333, 1er 4ª
        br
        | 08025 Barcelona
      a.item(href='https://goo.gl/maps/baG8jYsfQGR2' target='_blank' title='Adreça a google maps')
        i.material-icons.icon location_on
        .text Google Maps

    .block
      .title Contacta’ns

      a.item( href='mailto:'+email target='_blank' title='Adreça email')
        i.material-icons.icon email
        .text= email
      a.item( href='tel:934558181' target='_blank' title='Teléfon')
        i.material-icons.icon local_phone
        .text= phone
      a.item( href='#' )
        i.material-icons.icon local_printshop
        .text (93) 455 81 81
